.clock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
}

.clock> .time{
    display: inline-block;
    width: 100%;

}


.clock> .time> .value{
display: inline-block;
width: 100%;
font-size: 40px;
line-height: 40px;
color: white;
font-weight: bold;

}

.clock> .time> .label{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    color: white;
    font-weight: bold;


}

@media(max-width: 640px) {

    .clock{
        
        grid-template-columns: 1fr 1fr;
        
    }
}

@media(max-width: 320px) {

    .clock{
        
        grid-template-columns: 1fr;
        
    }
}