.bg-color {
    background-color: var(--main-color);


}

.hero.container{
    padding-bottom: 20px;
    background-image: url(../img/background.jpg);
    background-position: bottom center;
    background-size: cover;
    
}

    .hero> .row-short{
        text-align: center;
    }

    .hero img{
        margin-bottom: var(--big-gap);
    }

    .hero h1{
        display: inline-block;
        width: 100%;
        color: black;
        font-size: 55px;
        line-height: 55px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: var(--gap);


    }

    .hero p{
        display: inline-block;
        width: 100%;
        color: gray;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: var(--big-gap);

    }

    .hero .clock {
        margin-bottom: var(--big-gap);
    }

    .hero .form{
        margin-bottom: var(--gap);
    }


    main h2{
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: black;
        margin-bottom:20px ;
    }

    main p{
        font-size: 15px;
        line-height: 24px;
        color: #555;
        margin-bottom:20px ;

    }

    main p > a {
        color: var(--secondary-color);
        text-decoration: none;

    }

    main p> a:hover{
        text-decoration: underline overline;

    }

footer.container{
    padding-top: 0px;
    text-align: center;
}

footer> .row-long{
    padding:15px ;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

footer .fa {
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;


}

footer .fa:hover {
    background-color: white;
    color: var(--main-color)


}

footer a {
    color: #fff;
    text-decoration: none;


}

footer img{

    margin-bottom: 20px;
    height: 40px;
}

footer p{
    display: inline-block;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    color: #fff9 ; 

}

footer p > span {
    padding:  0 10px;
    position: relative;
}

footer p > span + span::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translatey(-50%);
    

}

@media( max-width: 640px){
    footer p> span{
display: inline-block;    
width: 100%;
}
  footer p> span+ span::before {
      display: none;
  }


}