body{
    display: grid;
    grid-template-columns: 1fr;

}

.container{
display: grid;
grid-template-columns: 1fr 200px 600px 200px 1fr;
padding: 40px 0;

}
    .container > .row-short{
     grid-column: 3/4;
    
    
    
    }

     .container > .row-long{
     grid-column: 2/5;
        
    }      
     .container> .row-long.columns {
               display: grid;
               grid-template-columns: 5fr 1fr 4fr;

            }

               .container> .row-long.columns> .left{
                   grid-column: 1/2;
               }

               .container> .row-long.columns> .right{
                   grid-column: 3/4;
               }



@media (max-width: 1100px){

    .container{
        
        grid-template-columns: 1fr 100px 600px 100px 1fr;
        

}


@media (max-width: 900px) {
    .container{
        
        grid-template-columns: 1fr 600px 1fr;
}
        
    
    .container > .row-short{
     grid-column: 2/3;
     
    
    
    }

     .container > .row-long{
     grid-column: 2/3;
        
          

}

}

@media (max-width: 640px) {

    .container{
        
        grid-template-columns: 20px 1fr 20px;

        
}

.container> .row-long.columns {
   
    grid-template-columns: 1fr ;
    gap: 40px;

 }

    

    .container> .row-long.columns> .right{
        grid-column: 1/2;
    }

}

